ConnectionStrings__DefaultConnection=Server=localhost,1433;Database=ofichinna;User Id=sa;Password=<SUA_SENHA>;TrustServerCertificate=True  
Docker__SqlPassword=<SUA_SENHA>  
Jwt__Issuer=ofichinna  
Jwt__Audience=ofichinna  
Jwt__Key=<SEU_JWT_KEY>  
Jwt__ExpirationMinutes=60