
// Database
ConnectionStrings__DefaultConnection=Server=localhost,1433;Database=ofichina;User Id=sa;Password=<SUA_SENHA>;TrustServerCertificate=True

// Docker
Docker__SqlPassword=<SUA_SENHA>
Docker__Seq=<SUA_SENHA>

// JWT
Jwt__Issuer=ofichina
Jwt__Audience=ofichina
Jwt__Key=<SEU_JWT_KEY>
Jwt__ExpirationMinutes=60

// SonarQube
Sonar__JDBC_URL=jdbc:postgresql://postgres:5432/sonarqube
Sonar__Username=sonar
Sonar__Password=sonar
Sonar__Postgress_Username=sonarqube
Sonar__Postgress_Password=sonarqube
Sonar__Postgress_Database=sonarqube